<div id="{{ element_id }}_main" class="rating_selector">
    <h1></h1>
    {% for key, value in options %}
        <p>{{ value.label  }}</p>
       <div id="{{ element_id }}_{{ key }}">
           <div class="ui-slider-handle custom-handle">{{ value.score }}</div>
       </div>
    {% endfor %}
</div>
<input type="hidden" id="{{element_id}}_value" name="{{element_id}}" value="" /> 